@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6; /* Light grey background like the screenshot */
}

@keyframes progressShrink {
  from { width: 100%; }
  to { width: 0%; }
}

.animate-progress-shrink {
  animation: progressShrink 2s linear forwards;
}